*.class
/Bandeira.class
/ComunicadorAbstractFactory.class
/ComunicadorFactory.class
/ComunicadorFactoryMaster.class
/ComunicadorFactoryVisa.class
/EmissorMaster.class
/EmissorVisa.class
/Receptor.class
/ReceptorMaster.class
/ReceptorSMS.class
/ReceptorVisa.class
